<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
    <delegateCommandHandler
        class="dev.zed.spring.bridge.BridgeCommandHandler"
        name="Zed Spring Tools Java Bridge">
      <command id="zed.spring.bridge.v1.addClasspathListener" static="true"/>
      <command id="zed.spring.bridge.v1.removeClasspathListener" static="true"/>
    </delegateCommandHandler>
  </extension>
</plugin>
